div.nestedGraphNode
{
position:fixed;
width:100px;
padding:10px;
border:solid;
background-color:#98FB98;
}

div.nestedGraphNodeContent
{
position:fixed;
width:500px;
padding:10px;
border:solid;
visibility:hidden;
}

body
{
	margin:0px;
}

div#graphCanvas
{
}
canvas#canvas
{
position:fixed;
z-index:0;
}
